[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = William Fernandes
	email = wfernandes@live.com
[pull]
	ff = only
[github]
	accesstoken = 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
[core]
	ignorecase = false
